.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: whitesmoke;
}

.History {
  font-size: calc(10px + 0.25vmin);
  margin-bottom: 50px;
}

textarea {
  margin-top: 50px;
  background-color: whitesmoke;
}